@{
    ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-6">
		<h2>Über den Prototyp</h2>
		<p>
			Jeder kennt es, wenn man mit einer Entscheidung konfrontiert wird und bereits in den ersten Sekunden eine Tendenz hat wie man sich entscheidet, ohne alle Fakten und Hintergründe zu kennen. Aber der erste Instinkt, oder auch Bauchgefühl genannt, ist vorhanden, ohne dass man dieses Gefühl rational erklären kann. Hier ist schon eine Schwierigkeit zu erkennen der viele Führungspersonen ausgesetzt sind: Kann ich auf mein Bauchgefühl vertrauen?
		</p>
		<p>
			Vorweggenommen soll gesagt sein, dass es sich hier nur um einen Prototyp handelt der als Ratgeber dienen kann. Keinesfalls soll und kann er als Rechtfertigung für eine zweifelhafte Entscheidung dienen. Der Nutzen besteht darin, den Prototypen als zusätzliche Informationsquelle zu verwenden und um eine Hilfestellung, auf der Grundlage von früher getroffenen Entscheidungen, bei wichtigen Entscheidungen zu bieten.
		</p>
		<p>
			Der Prototyp kann von Führungspersonen und Entscheidungsträger in Unternehmen jeglicher Größe und Branche genutzt werden. Besonders bei kleineren Unternehmen wird eine Entscheidungsdokumentation gerne vernachlässigt, da wenig Nutzen und unnötiger Mehraufwand darin gesehen wird. Dieser Prototyp vereinfacht dieses Prozedere der Dokumentation.
		</p>
		<p>
			In ein paar Minuten kann die Entscheidung erfasst werden. Welche Aspekte für die Entscheidungsfindung nötig waren, wird durch Einschätzung der Wichtigkeit von gezielten Fragen festgestellt. Es können auch Fragen und deren Gewichtung hinzugefügt werden. Im späteren Verlauf muss noch festgehalten werden, ob die getroffene Entscheidung positiv, negativ oder neutral war. Wird der Prototyp nun über einen längeren Zeitraum genutzt, wird sich aus den getroffenen Entscheidungen ein Bild abzeichnen, über die Qualität des eigenen Bauchgefühls. Dementsprechend kann der Prototyp erweitert werden um eine optimierte Empfehlung abzugeben und so für einen positiven Ausgang einer Entscheidung beitragen.
		</p>
		<br />
		<br />
	</div>
</div>